@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: #eee5e9;
}
body::-webkit-scrollbar-thumb {
  background: #323031;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-image: radial-gradient(#2a1246, #0e0a12);
  color: #eee5e9;
  width: auto;
  padding: 50px 150px 100px;
}
header {
  margin: 0 0 100px;
  display: flex;
  justify-content: center;
}
header ul {
  display: flex;
  position: absolute;
}
header ul li {
  list-style: none;
  margin: 0 40px;
}
header ul li a {
  text-decoration: none;
  color: #eee5e9;
  font-family: "Silkscreen", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.5s;
}
header ul li a:hover {
  color: #b024d3;
  font-size: 1.3rem;
  transition: 0.5s;
  text-decoration: none;
}
.mobile-flex {
  display: none;
}
.landing {
  display: flex;
  justify-content: space-around;
  height: 500px;
}
.photo {
  height: 450px;
  width: auto;
  vertical-align: middle;
}
.developer-text,
.landing-mobile-info {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 50px 50px;
  width: 800px;
}
.developer-text h1 span,
.landing-mobile-info h1 span {
  font-family: "Orbitron", sans-serif;
  color: #b024d3;
  font-size: 1.4rem;
  float: left;
}
.developer-text h1,
.landing-mobile-info h1 {
  text-align: right;
  font-family: "Orbitron", sans-serif;
  font-size: 3.5rem;
  float: left;
}
.landing-desc {
  width: 100%;
}
.developer-text p,
.landing-mobile-info p {
  color: #a4a4a4;
  float: left;
  text-align: justify;
  font-size: 1rem;
}
.developer-text button,
.controls-mobile button {
  font-family: "Orbitron", sans-serif;
  background-color: transparent;
  color: #eee5e9;
  font-size: 1.2rem;
  border: 2px solid #b024d3;
  border-radius: 50px;
  box-shadow: 1px 1px 5px#000000;
  padding: 10px 20px;
  transition: 0.5s;
  z-index: 1;
  float: left;
  margin-top: 30px;
}
.developer-text button:hover,
.controls-mobile button:hover {
  background-color: #b024d3;
  box-shadow: 2px 2px 15px#000000;
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
.developer-text button:active,
.controls-mobile button:active {
  background-color: transparent;
  box-shadow: 2px 2px 15px#000000;
  transition: 0.5s;
}
@keyframes bounce {
  0% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: -10px;
  }
}
.bounce-link {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.arrow-down {
  position: absolute;
  color: #6d6d6d81;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.arrow-down:hover {
  color: #b024d3;
  text-decoration: none;
  transition: 0.5s;
}
.arrow-down p {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
}
/* TEST  */
.grid {
  display: none;
  grid-template-columns: repeat(4, 1fr);
}
.col1 {
  grid-column: 1;
  place-self: center;
  display: grid;
  row-gap: 10px;
  grid-auto-rows: 120px;
  grid-auto-columns: 120px;
}
.col2 {
  grid-column: 2 / 4;
  place-self: center;
}
.col3 {
  grid-column: 4;
  place-self: center;
  display: grid;
  row-gap: 10px;
  grid-auto-rows: 120px;
  grid-auto-columns: 120px;
}
#home-text,
#alternateTextBook,
#alternateTextTalk,
#alternateTextScience,
#alternateTextCode,
#alternateTextNail,
#alternateTextGym,
#alternateTextPen,
#alternateTextAstro {
  line-height: 2rem;
  transform: scale(0.94);
  animation: scale 0.3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.grid span {
  display: inline-block;
  opacity: 0;
  filter: blur(2px);
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.grid button {
  border: none;
  background-color: transparent;
}
.grid button:focus {
  outline: 0;
}
.about-text {
  text-align: center;
}
#home-text h3 {
  font-family: "Orbitron", sans-serif;
}
.icon-hobby {
  height: 100px;
  width: auto;
  transition: 0.5s;
}
.icon-hobby:hover {
  height: 110px;
  width: auto;
  transition: 0.5s;
}
.icon-hobby:active {
  height: 120px;
  width: auto;
  transition: 0.1s;
  transform: rotate(-45deg);
}
.book {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: 40px;
}
.science {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: -40px;
}
.code {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: -40px;
}
.astro {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: 40px;
}
.talk {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: -40px;
}
.nail {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: 40px;
}
.gym {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: 40px;
}
.pen {
  opacity: 0;
  filter: blur(1px);
  animation: fade-in 1s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-left: -40px;
}

/* PROJECTS */

#projects {
  position: relative;
}
.bg-img {
  position: absolute;
  z-index: -1;
  filter: brightness(30%);
  width: 100%;
  height: 700px;
}
.carousel {
  padding: 100px 0;
}
.carousel-item {
  height: 500px;
}
.card-info {
  position: absolute;
  z-index: 1;
  left: 150px;
  width: 70%;
  margin: auto;
  top: 25%;
}
.title {
  color: #eee5e9;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 2px 2px 15px #000000;
}
.desc {
  color: #eee5e9;
  text-shadow: 5px 5px 15px #000000;
}
.card-demo {
  position: absolute;
  z-index: 0;
  right: 150px;
}
.demo-inner {
  position: absolute;
}
.card-demo img {
  height: 500px;
  width: 800px;
  transition: 0.5s;
  box-shadow: 2px 2px 15px #000000;
  filter: brightness(90%);
}
.card-demo img:hover {
  transition: 0.5s;
  transform: scale(1.05);
  filter: brightness(100%);
}
/* FOOTER  */
footer p {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: #eee5e9;
  margin: 0 0 20px;
}
footer {
  background-color: #0e0a12;
  position: relative;
  padding: 50px 0 20px;
}

.social-links ul {
  display: flex;
  justify-content: center;
}
.social-links img {
  height: 50px;
  width: auto;
  padding: 0 10px;
}
.rights {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0.7rem;
  color: #eee5e9;
  margin: 50px 0 0;
}

/* MEDIA QUERY  */
/* For Desktop View */
@media screen and (min-width: 1249px) and (max-device-width: 1469px) {
  .developer-text {
    grid-template-rows: 100px 50px 50px;
    width: 500px;
    margin-top: 100px;
  }
  .developer-text h1 span {
    font-size: 0.9rem;
    margin-left: 0;
  }
  .developer-text h1 {
    font-size: 2.4rem;
  }
  .developer-text p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 0.8rem;
  }
  .developer-text button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
  .arrow-down p {
    font-size: 0.8rem;
  }
}
/* For Laptop View */
@media screen and (min-device-width: 1069px) and (max-device-width: 1248px) {
  .landing {
    height: 400px;
  }
  .photo {
    height: 350px;
  }
  .developer-text {
    grid-template-rows: 100px 50px 50px;
    margin-top: 75px;
  }
  .developer-text h1 span {
    font-size: 0.7rem;
  }
  .developer-text h1 {
    font-size: 2rem;
  }
  .developer-text p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 0.7rem;
  }
  .developer-text button {
    font-size: 0.7rem;
    padding: 7px 14px;
    margin: 0 100px 0 0;
  }
  .arrow-down p {
    font-size: 0.7rem;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 960px) and (max-device-width: 1068px) {
  .landing {
    height: 300px;
  }
  .photo {
    height: 300px;
  }
  .developer-text {
    grid-template-rows: 80px 40px 30px;
    margin-top: 70px;
  }
  .developer-text h1 span {
    font-size: 0.6rem;
  }
  .developer-text h1 {
    font-size: 1.7rem;
  }
  .developer-text p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 0.6rem;
  }
  .developer-text button {
    font-size: 0.6rem;
    padding: 3px 10px;
    margin: 0 100px 0 0;
  }
  .bounce-link {
    margin: 10px 0 -30px;
  }
  .arrow-down p {
    font-family: "Orbitron", sans-serif;
    font-size: 0.6rem;
  }
  .card-info {
    left: 100px;
  }
  .card-demo {
    right: 100px;
  }
  .card-demo img {
    height: 400px;
    width: 700px;
  }
}

/* GENERAL SMALL SCREEN  */
@media screen and (min-device-width: 890px) and (max-device-width: 959px) {
  .mobile-flex {
    display: grid;
    grid-template-columns: 2fr;
    margin: 80px 0;
    grid-template-rows: 600px 100px;
  }
  .controls-mobile {
    grid-column: 1;
    grid-row: 1;
  }
  .controls-mobile-ordered {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
  }
  .controls-mobile button {
    font-size: 1.5rem;
    border: 3px solid #b024d3;
    box-shadow: 2px 2px 15px#000000;
    padding: 15px 30px;
    float: left;
    margin-top: 30px;
    width: 250px;
  }
  .landing-mobile-photo {
    grid-column: 2;
    grid-row: 1;
  }
  .landing-mobile-info {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2;
    grid-template-rows: 80px 40px 30px;
    margin-top: -100px;
    width: auto;
  }
  .landing {
    display: none;
  }
  .photo {
    height: 500px;
    position: absolute;
    right: 80px;
  }
  .landing-mobile-info h1 span {
    font-size: 1.3rem;
    float: left;
    font-weight: normal;
    margin: 10px 0 0 10px;
  }
  .landing-mobile-info h1 {
    font-size: 3.1rem;
    float: none;
    font-weight: bold;
  }
  .landing-mobile-info p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 1rem;
    text-align: right;
  }
  .landing-mobile-info button {
    font-size: 0.6rem;
    padding: 3px 10px;
    margin: 0 100px 0 0;
  }
  .landing-btn {
    display: none;
  }
  .bounce-link {
    display: none;
  }
  .bg-img {
    height: 600px;
  }
  .carousel-item {
    height: 400px;
  }
  .card-info {
    left: 100px;
  }
  .card-demo {
    right: 100px;
  }
  .card-demo img {
    height: 350px;
    width: 520px;
  }
}
/* GENERAL MOBILE VIEW  */
@media screen and (min-device-width: 750px) and (max-device-width: 889px) {
  .wrapper {
    padding: 50px 50px 100px;
  }
  .wrapper header {
    display: none;
  }
  .mobile-flex {
    display: grid;
    grid-template-columns: 2fr;
    margin: 80px 0;
    grid-template-rows: 600px 100px;
  }
  .controls-mobile {
    grid-column: 1;
    grid-row: 1;
  }
  .controls-mobile-ordered {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
  }
  .controls-mobile button {
    font-size: 1.5rem;
    border: 3px solid #b024d3;
    box-shadow: 2px 2px 15px#000000;
    padding: 15px 30px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
  }
  .landing-mobile-photo {
    grid-column: 2;
    grid-row: 1;
  }
  .landing-mobile-info {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2;
    grid-template-rows: 80px 40px 30px;
    margin-top: -130px;
    width: auto;
  }
  .landing {
    display: none;
  }
  .photo {
    height: 500px;
    position: absolute;
    right: 0;
  }
  .landing-mobile-info h1 span {
    font-size: 2rem;
    float: left;
    font-weight: normal;
    margin: 10px 0 0 10px;
  }
  .landing-mobile-info h1 {
    font-size: 3.4rem;
    float: none;
    font-weight: bold;
  }
  .landing-mobile-info p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 1rem;
    text-align: right;
  }
  .landing-btn {
    display: none;
  }
  .bounce-link {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px 0 0;
  }
  .col1 {
    grid-column: 1 / 3;
    place-self: center;
    display: grid;
  }
  .col2 {
    grid-column: 3 / 5;
    place-self: center;
  }
  .col3 {
    display: none;
  }
  .about-text {
    text-align: right;
  }
  .about-text p{
    font-size: 1.2rem;
    font-weight: 200;
  }
  .book {
    margin-left: -40px;
  }
  .science {
    margin-left: 40px;
  }
  .code {
    margin-left: -40px;
  }
  .astro {
    margin-left: 40px;
  }
}
/* For Mobile Portrait View */
@media screen and (min-device-width: 685px) and (max-device-width: 750px) {
  .wrapper {
    padding: 50px 50px 100px;
  }
  .wrapper header {
    display: none;
  }
  .mobile-flex {
    display: grid;
    grid-template-columns: 2fr;
    margin: 80px 0;
    grid-template-rows: 600px 100px;
  }
  .controls-mobile {
    grid-column: 1;
    grid-row: 1;
  }
  .controls-mobile-ordered {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
  }
  .controls-mobile button {
    font-size: 1.5rem;
    border: 3px solid #b024d3;
    box-shadow: 2px 2px 15px#000000;
    padding: 15px 30px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 200px;
  }
  .landing-mobile-photo {
    grid-column: 2;
    grid-row: 1;
  }
  .landing-mobile-info {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2;
    grid-template-rows: 80px 40px 30px;
    margin-top: -140px;
    width: auto;
  }
  .landing {
    display: none;
  }
  .photo {
    height: 500px;
    position: absolute;
    right: 0;
    top: 100px;
  }
  .landing-mobile-info h1 span {
    font-size: 1.6rem;
    float: left;
    font-weight: normal;
    margin: 10px 0 0 10px;
  }
  .landing-mobile-info h1 {
    font-size: 2.5rem;
    float: none;
    font-weight: bold;
  }
  .landing-mobile-info p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 1rem;
    text-align: right;
  }
  .landing-btn {
    display: none;
  }
  .bounce-link {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px 0 0;
  }
  .col1 {
    grid-column: 1 / 3;
    place-self: center;
    display: grid;
  }
  .col2 {
    grid-column: 3 / 5;
    place-self: center;
  }
  .col3 {
    display: none;
  }
  .about-text {
    text-align: right;
  }
  .about-text p{
    font-size: 1.2rem;
    font-weight: 200;
  }
  .book {
    margin-left: -40px;
  }
  .science {
    margin-left: 40px;
  }
  .code {
    margin-left: -40px;
  }
  .astro {
    margin-left: 40px;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 684px) {
  .wrapper {
    padding: 50px 50px 100px;
  }
  .wrapper header {
    display: none;
  }
  .mobile-flex {
    display: grid;
    grid-template-columns: 2fr;
    margin: 80px 0;
    grid-template-rows: 600px 100px;
  }
  .controls-mobile {
    grid-column: 1;
    grid-row: 1;
  }
  .controls-mobile-ordered {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
  }
  .controls-mobile button {
    font-size: 1rem;
    border: 3px solid #b024d3;
    box-shadow: 2px 2px 15px#000000;
    padding: 15px 30px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 170px;
    z-index: 1;
  }
  .landing-mobile-photo {
    grid-column: 2;
    grid-row: 1;
  }
  .landing-mobile-info {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2;
    grid-template-rows: 80px 40px 30px;
    margin-top: -100px;
    width: auto;
  }
  .landing {
    display: none;
  }
  .photo {
    height: 500px;
    position: absolute;
    right: 0;
    top: 150px;
  }
  .landing-mobile-info h1 span {
    font-size: 1.2rem;
    float: left;
    font-weight: normal;
    margin: 10px 0 0 10px;
  }
  .landing-mobile-info h1 {
    font-size: 2.2rem;
    float: none;
    font-weight: bold;
  }
  .landing-mobile-info p {
    width: 100%;
    margin: auto;
    padding: 0 0 30px;
    font-size: 1rem;
    text-align: right;
  }
  .landing-btn {
    display: none;
  }
  .bounce-link {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px 0 0;
  }
  .col1 {
    grid-column: 1 / 3;
    place-self: center;
    display: grid;
  }
  .col2 {
    grid-column: 3 / 5;
    place-self: center;
  }
  .col3 {
    display: none;
  }
  .about-text {
    text-align: right;
  }
  .about-text p{
    font-size: 1.2rem;
    font-weight: 200;
  }
  .book {
    margin-left: -40px;
  }
  .science {
    margin-left: 40px;
  }
  .code {
    margin-left: -40px;
  }
  .astro {
    margin-left: 40px;
  }
}
